/* colors */
:root{
    --black: #061E29;
    --darkBlue: #1D546D;
    --darkGreen: #5F9598;
    --lightGrey: #F3F4F4;
}

@keyframes moveUpDown {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-3px);}
    100% {transform: translateY(0px);}
}
.callButton:hover{
    animation: moveUpDown 1.5s infinite;
}

.floatingButton{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

.underNavHeading{
    height: 7em;
    width: 100%;
    background-color: var(--lightGrey);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.navBarItemBackground{
    background-color: var(--darkGreen);
    border-radius: 15%;
}

.navBarItemBackground:hover{
    background-color: var(--darkBlue);    
    transition: background-color 0.3s ease;
}

.servicesCardSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.servicesCard{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 1em;
}

.servicesHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.servicesCard:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transform: translateY(-5px);
}

.heroBackground{
    background-color: var(--pastelblue);
    color: #000;
    width: 100%;
    padding: 2em 0 2em 0;
}

@media screen and (max-width: 768px) {
    .navBarItemBackground{
        background-color: transparent;
    }
    .servicesCard{
        width: 100%;
    }
    .callButton{
        width: 100%;
    }
}
