.underNavHeading{
    height: 5em;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

.navBarItemBackground{
    background-color: #eae2e2;
    border-radius: 15%;
}

.navBarItemBackground:hover{
    background-color: #d4caca;    
    transition: background-color 0.3s ease;
}
